# FastAPI and ASGI server
fastapi
uvicorn

# Database
motor
python-dotenv
pydantic
YOLO
# Face recognition and image processing
insightface==0.7.3
onnxruntime-gpu; platform_system != "Darwin"  # Use GPU if available  Linux
 onnxruntime 
 opencv-python 
# Image and math libraries
opencv-python-headless
numpy
scipy

# Optional: For torch-based experiments (not required by InsightFace)
torch
torchvision
prometheus-client