apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow
  labels:
    app: mlflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      containers:
      - name: mlflow
        image: mlflow/mlflow:2.8.0
        command: ["mlflow", "server"]
        args:
          [
            "--backend-store-uri", "mongodb+srv://chaden:2uTOPIQU9J4mB32A@chaden.sisxm.mongodb.net/mlflow?retryWrites=true&w=majority&appName=chaden"",
            "--default-artifact-root", "/mlflow/artifacts",
            "--host", "0.0.0.0",
            "--port", "5000"
          ]
        ports:
        - containerPort: 5000
        volumeMounts:
        - name: mlflow-artifacts
          mountPath: /mlflow/artifacts
      volumes:
      - name: mlflow-artifacts
        persistentVolumeClaim:
          claimName: mlflow-pvc
