name: CI/CD Facekey

on:
  push:
    branches:
      - master

jobs:
  backend-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # Setup Python
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      # Free up disk space (optional but recommended for ML packages)
      - name: Free up space
        run: sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc /opt/hostedtoolcache/*

      - name: Install dependencies
        run: pip install --no-cache-dir -r requirements.txt

      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push backend Docker image
        uses: docker/build-push-action@v4
        with:
          context: ./app
          file: ./app/Dockerfile
          push: true
          tags: chaden13/facekey-backend:${{ github.sha }}
      - name: Install Trivy
        run: |
         sudo apt-get update
         sudo apt-get install -y wget
         wget https://github.com/aquasecurity/trivy/releases/latest/download/trivy_$(uname -s)_$(uname -m).tar.gz
         tar zxvf trivy_$(uname -s)_$(uname -m).tar.gz
         sudo mv trivy /usr/local/bin/

      - name: Scan Docker image with Trivy
        run: trivy image chaden13/facekey-backend:${{ github.sha }}

      - name: Scan Docker image with Snyk
        run: snyk container test chaden13/facekey-backend:${{ github.sha }}

  frontend-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push frontend Docker image
        uses: docker/build-push-action@v4
        with:
          context: ./facekey-frontend
          file: ./facekey-frontend/Dockerfile
          push: true
          tags: chaden13/facekey-frontend:${{ github.sha }}
